<?xml version="1.0" encoding="euc-kr"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>mvjsp.chap22.UploadServlet</servlet-class>
		<multipart-config>
			<location>C:\apache-tomcat-7.0.27\uploadTemp</location>
			<file-size-threshold>1024</file-size-threshold>
			<max-file-size>-1</max-file-size>
			<max-request-size>-1</max-request-size>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DBCPInit</servlet-name>
		<servlet-class>mvjsp.jdbc.loader.DBCPInit</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>mvjsp.chap22.pds.file.FileUploadServlet</servlet-class>
		<multipart-config>
			<location>C:\apache-tomcat-7.0.27\uploadTemp</location>
			<file-size-threshold>102400</file-size-threshold>
			<max-file-size>-1</max-file-size>
			<max-request-size>-1</max-request-size>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/fileUpload</url-pattern>
	</servlet-mapping>
</web-app>