<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">


<!--
  xml파일...
  IOC 컨테이너에 적재될 bean객체 생성과 injection(DI)

  <bean id = "emp"...
  <bean name = "emp,emp2"...

  id 속성 , name 속성 : 객체의 이름

  **SpringMVC 오면 id,name 속성이 (mapping 주소)로...
  id, name == <url-pattern>...

  id="/hello.htm" >> url-pattern >> mapping 주소
  
  org.springframework.web.servlet.view.InternalResourceViewResolver;
  viewresolver 의 역할은 view 설정하는 것
-->
	<bean id="/hello.htm" class="kr.or.bit.HelloController"></bean>
	<bean id="/intro.htm" class="kr.or.bit.IntroController"></bean>

	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<!-- ModelAndView mav = new ModelAndView();
	    mav.addObject("name","kang");
	    mav.setViewName("Hello");
    	
    	resolver가 이름만 가져온다. >> Hello를
    	prefix + resolver + suffix
    	/WEB-INF/views/Hello.jsp
     -->
</beans>
